# ==========================
# Environment Variables
# ==========================
.env
.venv/
venv/

# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Database
# ==========================
instance/*.db
*.sqlite3

# ==========================
# Upload Folders
# ==========================
uploads/*
!uploads/.gitkeep

extracted_text/*
!extracted_text/.gitkeep

qr_codes/*
!qr_codes/.gitkeep

# ==========================
# IDE Files
# ==========================
.vscode/
.idea/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Coverage Reports
# ==========================
.coverage
htmlcov/

# ==========================
# Flask
# ==========================
instance/