Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Migrate
Flask-Mail
Flask-Cors
Flask-Compress
python-dotenv
Werkzeug
email-validator
Pillow
opencv-python
pytesseract
pdf2image
PyPDF2
qrcode
google-generativeai
gunicorn