<aside class="sidebar">

    <div class="logo">

        <i class="fa-solid fa-shield-halved"></i>

        <span>VaultX</span>

    </div>

    <nav>

        <a class="active" href="#">

            <i class="fa-solid fa-house"></i>

            Dashboard

        </a>

        <a href="#">

            <i class="fa-solid fa-folder"></i>

            Documents

        </a>

        <a href="#">

            <i class="fa-solid fa-cloud-arrow-up"></i>

            Upload

        </a>

        <a href="#">

            <i class="fa-solid fa-share-nodes"></i>

            Shared

        </a>

        <a href="#">

            <i class="fa-solid fa-robot"></i>

            AI Assistant

        </a>

        <a href="#">

            <i class="fa-solid fa-user-shield"></i>

            Security

        </a>

        <a href="#">

            <i class="fa-solid fa-gear"></i>

            Settings

        </a>

    </nav>

    <div class="logout">

        <a href="{{ url_for('auth.logout') }}">

            <i class="fa-solid fa-right-from-bracket"></i>

            Logout

        </a>

    </div>

</aside>