<section class="stats-grid">

    <div class="stat-card">

        <i class="fa-solid fa-folder"></i>

        <h2>0</h2>

        <p>Documents</p>

    </div>

    <div class="stat-card">

        <i class="fa-solid fa-share-nodes"></i>

        <h2>0</h2>

        <p>Shared</p>

    </div>

    <div class="stat-card">

        <i class="fa-solid fa-lock"></i>

        <h2>100%</h2>

        <p>Encrypted</p>

    </div>

    <div class="stat-card">

        <i class="fa-solid fa-user-shield"></i>

        <h2>Safe</h2>

        <p>Status</p>

    </div>

</section>