<header class="topbar">

    <div>

        <h2>

            Welcome back,

            {{ current_user.name }}

            👋

        </h2>

        <p>

            Your secure digital vault is ready.

        </p>

    </div>

    <div class="topbar-right">

        <button>

            <i class="fa-solid fa-bell"></i>

        </button>

        <div class="profile">

            <img
                src="https://ui-avatars.com/api/?name={{ current_user.name }}&background=2563eb&color=fff"
                alt="Profile">

            <span>

                {{ current_user.name }}

            </span>

        </div>

    </div>

</header>