.upload-container{

display:flex;

justify-content:center;

padding:60px;

}

.upload-box{

width:600px;

height:300px;

border:3px dashed #38bdf8;

border-radius:25px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

cursor:pointer;

transition:.3s;

background:#111827;

}

.upload-box:hover{

background:#1e293b;

}

.upload-box i{

font-size:80px;

color:#38bdf8;

margin-bottom:20px;

}

.upload-box h2{

color:white;

margin-bottom:10px;

}

.upload-box p{

color:#94a3b8;

}

.upload-btn{

margin-top:25px;

width:100%;

padding:18px;

border:none;

border-radius:15px;

background:#0ea5e9;

color:white;

font-size:18px;

cursor:pointer;

}